<h1>Senders</h1>
<hr>
<div class="container">
  <div class="row">
    <table class="">
      <tr>
        <th>Sender</th>
        <th>IPs</th>
        <th>Last Updated</th>
      </tr>
      <% @senders.each do |sender| %>
      <tr>
        <td><%= sender.from_name %></td>
        <% sender.domains_data.each do |domain_data| %>
        <td><%= domain_data['ip'] %></td>
        <% end %>
        <td><%= sender.updated_at %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
<h1>this is a test</h1>
